body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('https://images6.alphacoders.com/915/915761.jpg');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-color: black;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.cardhover:hover{
  box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.75);
}

.bg-black{
  background-color: #000;
}

.bg-blackCard{
  background-color: rgb(0,0,0,0.5);
}
.background{
  background-image:url('https://images6.alphacoders.com/915/915761.jpg');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-color: black;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;

}

.backgroundContainer{
  background-image:url("https://images6.alphacoders.com/915/915760.jpg");
  background-repeat: repeat, repeat;
  background-position: center;
  background-color: black;

}

.animationBouger{
  position: relative;
  -webkit-animation-name: moveSide; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name:moveSide;
  animation-duration: 2s;

}
/**Keyframes animation**/
@keyframes moveSide {
   0%   {left:-400px;}
   100% {left:0px;}
}
